
/* On hover animation for account icon */

.SocialIcons {
    padding-right: 0;

}

.facebookIcon {
    /* font-size: 25px; */
    margin-right: 1rem;
    fill: #1877f2;
    transition: 0.3s ease-out;
}

.instagramIcon {
    margin-right: 1rem;
    fill: #c32aa3;
    transition: 0.3s ease-out;
}

.youTubeIcon {
    margin-right: 1rem;
    fill: #ff0000;
    transition: 0.3s ease-out;
}

.facebookIcon:hover {
    /* font-size: 25px; */
    fill: green;
    transition: 0.3s ease-out;
}

.instagramIcon:hover {
    fill: green;
    transition: 0.3s ease-out;
}

.youTubeIcon:hover {
    /* font-size: 25px; */
    fill:green;
    transition: 0.3s ease-out;
}




