
/* On hover animation for account icon */

.facebookIcon:hover {
    /* font-size: 25px; */
    fill: #1877f2;
    transition: 0.3s ease-out;
}

.instagramIcon:hover {
    fill: #c32aa3;
    transition: 0.3s ease-out;
}

ul {
    font-size: 14px;
}

.youTubeIcon:hover {
    /* font-size: 25px; */
    fill: #ff0000;
    transition: 0.3s ease-out;
}

.companyLink {
    /* font-size: 25px; */

    text-decoration: underline;
}


.companyLink:hover {
    /* font-size: 25px; */
    color: red;
    transition: 0.3s ease-out;
    text-decoration: underline;
}

a {
    font-size: 14px;
    color: black;

}

a:hover {
    text-decoration: none;
    color: white;
    transition: 0.3s ease-out;

}

.trademark{
    text-align: center;


}

.logo{
    /* text-align: left; */
}

.designer{
    text-align: right;
}

@media screen and (max-width: 990px){

    .trademark {
        text-align: center;
    }

    .designer {
        text-align: center;
    }

    .logo{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        /* align-items: center; */
    }
   
}



